$margin: 20px;
$margin-double: 40px;
$border-width: 5px;
$border-width-double: 10px;
$color-gray: #333333;
$color-blue: #00A0B4;
$color-blue-dark: #008594;

@mixin background-size() {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin border-radius() {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

@mixin flex-direction($direction) {
	-webkit-flex-direction: $direction;
	-moz-flex-direction: $direction;
	-o-flex-direction: $direction;
	flex-direction: $direction;
}

@mixin justify-content() {
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-white {
	color: white;
}

.text-gray {
	color: $color-gray;
}

.border-left {
	border-left: $border-width solid $color-gray;
}

html {
	@include background-size();
	background-attachment: fixed;
	background-image: url("https://live.staticflickr.com/65535/49360062056_0cd14cb492_o.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
}

h1,
h2,
p,
a {
	font-family: 'Quicksand', sans-serif;
}

h1 {
	background-color: $color-gray;
	font-size: x-large;
	margin: 0;
	padding: 0.5em;
}

h2 {
	font-size: x-large;
	font-weight: lighter;
	padding-left: $border-width-double;
}

p {
	font-size: large;
}

a {
	@include border-radius();
	background-color: $color-blue;
	padding: 0.5em;
	text-decoration: none;
}

a:hover {
	background-color: $color-blue-dark;
}

#quote-box {
	margin: $margin auto;
	max-width: calc(100vw - #{$margin-double});
	width: 500px;
}

#box-top {
	@include flex-direction(column);
	@include justify-content();
	display: flex;
}

#box-bottom {
	@include border-radius();
	background-color: rgba(255,255,255,0.8);
	margin-top: $margin;
	opacity: 0;
	padding: $margin;
}

#tweet-quote {
	margin: $margin 0;
}

@media screen and (min-width: 400px) {
	#box-top {
		@include flex-direction(row);
	}
	#tweet-quote {
		margin: 0 $margin;
	}
}